<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Takımlar Listesi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stil.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-3">Takımlar Listesi</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Takım ID</th>
                    <th>Takım Adı</th>
                    <th>Takım Lideri Kullanıcı ID</th>
                    <th>Üye Sayısı</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="team : ${teams}">
                    <td th:text="${team.takimId}">Takım ID</td>
                    <td th:text="${team.takimAdi}">Takım Adı</td>
                    <td th:text="${team.takimLideriKullaniciId}">Takım Lideri Kullanıcı ID</td>
                    <td th:text="${team.uyeSayisi}">Üye Sayısı</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
