<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Takımlar Listesi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stil.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-3">Takımlar Listesi</h2>
    <div class="list-group">
        <a th:each="team : ${teams}" 
           th:href="@{/takimDetay/{id}(id=${team.id})}"
           th:text="${team.takimAdi}" 
           class="list-group-item list-group-item-action">
        </a>
    </div>
    <!-- Only team leaders can see the 'Create Team' button -->
    <button th:if="${user != null and user.rutbesi == 'TakimLideri' and user.takimId != 0}" type="button" 
            class="btn btn-primary mt-4" data-toggle="modal" data-target="#teamCreateModal">
        Yeni Takım Oluştur
    </button>
</div>

<!-- Modal for Team Creation -->
<div class="modal fade" id="teamCreateModal" tabindex="-1" aria-labelledby="teamCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamCreateModalLabel">Yeni Takım Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/takimlar/create}" method="post">
                    <div class="form-group">
                        <label for="teamName">Takım Adı:</label>
                        <input type="text" class="form-control" id="teamName" name="teamName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
